<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>IJacute</key>
    <string>I_J_acute.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>Nhookleft</key>
    <string>N_hookleft.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>aogonek.alt</key>
    <string>aogonek.alt.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>commaaccent</key>
    <string>commaaccent.glif</string>
    <key>commaaccent.alt</key>
    <string>commaaccent.alt.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gem</key>
    <string>gem.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>ipa:schwa</key>
    <string>ipa_schwa.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>kra</key>
    <string>kra.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>mu.math</key>
    <string>mu.math.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ring.cap</key>
    <string>ring.cap.glif</string>
    <key>ring_acute</key>
    <string>ring_acute.glif</string>
    <key>ring_acute.cap</key>
    <string>ring_acute.cap.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u.alt</key>
    <string>u.alt.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
