<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>5</integer>
      <key>public.kern2.W</key>
      <integer>5</integer>
      <key>public.kern2.Y</key>
      <integer>25</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>9</integer>
      <key>public.kern2.T</key>
      <integer>15</integer>
      <key>public.kern2.V</key>
      <integer>19</integer>
      <key>public.kern2.W</key>
      <integer>19</integer>
      <key>public.kern2.Y</key>
      <integer>35</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>seven</key>
      <integer>-10</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>seven</key>
      <integer>-25</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>seven</key>
      <integer>-20</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>seven</key>
      <integer>-10</integer>
      <key>three</key>
      <integer>-10</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>15</integer>
      <key>public.kern2.V</key>
      <integer>19</integer>
      <key>public.kern2.W</key>
      <integer>19</integer>
      <key>public.kern2.Y</key>
      <integer>35</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>bracketright</key>
      <integer>9</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-31</integer>
      <key>public.kern2.U</key>
      <integer>-5</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.punctHigh</key>
      <integer>-31</integer>
      <key>public.kern2.punctLow</key>
      <integer>10</integer>
      <key>public.kern2.punctMid</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.O</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-22</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.T</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
      <key>public.kern2.punctHigh</key>
      <integer>-5</integer>
      <key>public.kern2.punctLow</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-6</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.punctMid</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <integer>-11</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>bracketright</key>
      <integer>5</integer>
      <key>parenright</key>
      <integer>5</integer>
      <key>public.kern2.A</key>
      <integer>-26</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-13</integer>
      <key>public.kern2.S</key>
      <integer>-13</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.colon</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>-6</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-21</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.punctHigh</key>
      <integer>10</integer>
      <key>public.kern2.punctLow</key>
      <integer>-60</integer>
      <key>public.kern2.punctMid</key>
      <integer>-5</integer>
      <key>public.kern2.s</key>
      <integer>-15</integer>
      <key>public.kern2.t</key>
      <integer>-6</integer>
      <key>public.kern2.u</key>
      <integer>-21</integer>
      <key>public.kern2.v</key>
      <integer>-19</integer>
      <key>public.kern2.w</key>
      <integer>-19</integer>
      <key>public.kern2.x</key>
      <integer>-19</integer>
      <key>public.kern2.z</key>
      <integer>-21</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.Y</key>
      <integer>-27</integer>
      <key>public.kern2.punctHigh</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>bracketright</key>
      <integer>9</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.punctHigh</key>
      <integer>-60</integer>
      <key>public.kern2.punctLow</key>
      <integer>10</integer>
      <key>public.kern2.punctMid</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-25</integer>
      <key>public.kern2.Y</key>
      <integer>-22</integer>
      <key>public.kern2.punctHigh</key>
      <integer>-10</integer>
      <key>public.kern2.punctLow</key>
      <integer>-20</integer>
      <key>public.kern2.punctMid</key>
      <integer>10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>-5</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-31</integer>
      <key>public.kern2.f</key>
      <integer>-6</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-23</integer>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.punctHigh</key>
      <integer>-5</integer>
      <key>public.kern2.punctLow</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-13</integer>
      <key>public.kern2.t</key>
      <integer>-6</integer>
      <key>public.kern2.u</key>
      <integer>-21</integer>
      <key>public.kern2.v</key>
      <integer>-11</integer>
      <key>public.kern2.w</key>
      <integer>-11</integer>
      <key>public.kern2.x</key>
      <integer>-23</integer>
      <key>public.kern2.z</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>bracketright</key>
      <integer>5</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-35</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-5</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-17</integer>
      <key>public.kern2.punctHigh</key>
      <integer>-5</integer>
      <key>public.kern2.punctLow</key>
      <integer>-10</integer>
      <key>public.kern2.punctMid</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>-18</integer>
      <key>public.kern2.V</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>bracketright</key>
      <integer>15</integer>
      <key>parenright</key>
      <integer>15</integer>
      <key>public.kern2.A</key>
      <integer>-31</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-18</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.colon</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>-6</integer>
      <key>public.kern2.n</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-42</integer>
      <key>public.kern2.p</key>
      <integer>-16</integer>
      <key>public.kern2.punctHigh</key>
      <integer>20</integer>
      <key>public.kern2.punctLow</key>
      <integer>-60</integer>
      <key>public.kern2.punctMid</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.t</key>
      <integer>-6</integer>
      <key>public.kern2.u</key>
      <integer>-21</integer>
      <key>public.kern2.v</key>
      <integer>-17</integer>
      <key>public.kern2.w</key>
      <integer>-17</integer>
      <key>public.kern2.x</key>
      <integer>-17</integer>
      <key>public.kern2.z</key>
      <integer>-29</integer>
      <key>question</key>
      <integer>-11</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.punctLow</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>braceright</key>
      <integer>5</integer>
      <key>bracketright</key>
      <integer>19</integer>
      <key>parenright</key>
      <integer>19</integer>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>-26</integer>
      <key>public.kern2.f</key>
      <integer>-6</integer>
      <key>public.kern2.n</key>
      <integer>-13</integer>
      <key>public.kern2.o</key>
      <integer>-23</integer>
      <key>public.kern2.p</key>
      <integer>-13</integer>
      <key>public.kern2.punctHigh</key>
      <integer>20</integer>
      <key>public.kern2.punctLow</key>
      <integer>-20</integer>
      <key>public.kern2.punctMid</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-6</integer>
      <key>public.kern2.u</key>
      <integer>-21</integer>
      <key>public.kern2.v</key>
      <integer>-8</integer>
      <key>public.kern2.w</key>
      <integer>-8</integer>
      <key>public.kern2.x</key>
      <integer>-13</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>braceright</key>
      <integer>5</integer>
      <key>bracketright</key>
      <integer>19</integer>
      <key>parenright</key>
      <integer>19</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>-5</integer>
      <key>public.kern2.a</key>
      <integer>-21</integer>
      <key>public.kern2.f</key>
      <integer>-3</integer>
      <key>public.kern2.n</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-16</integer>
      <key>public.kern2.p</key>
      <integer>-8</integer>
      <key>public.kern2.punctHigh</key>
      <integer>15</integer>
      <key>public.kern2.punctLow</key>
      <integer>-15</integer>
      <key>public.kern2.punctMid</key>
      <integer>-5</integer>
      <key>public.kern2.s</key>
      <integer>-13</integer>
      <key>public.kern2.t</key>
      <integer>-6</integer>
      <key>public.kern2.u</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-11</integer>
      <key>public.kern2.w</key>
      <integer>-11</integer>
      <key>public.kern2.x</key>
      <integer>-11</integer>
      <key>public.kern2.z</key>
      <integer>-18</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>bracketright</key>
      <integer>9</integer>
      <key>parenright</key>
      <integer>5</integer>
      <key>public.kern2.J</key>
      <integer>-25</integer>
      <key>public.kern2.O</key>
      <integer>-25</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.punctHigh</key>
      <integer>10</integer>
      <key>public.kern2.punctLow</key>
      <integer>10</integer>
      <key>public.kern2.punctMid</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>braceright</key>
      <integer>25</integer>
      <key>bracketright</key>
      <integer>35</integer>
      <key>parenright</key>
      <integer>35</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-22</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-45</integer>
      <key>public.kern2.colon</key>
      <integer>-30</integer>
      <key>public.kern2.f</key>
      <integer>-15</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-37</integer>
      <key>public.kern2.p</key>
      <integer>-20</integer>
      <key>public.kern2.punctHigh</key>
      <integer>20</integer>
      <key>public.kern2.punctLow</key>
      <integer>-60</integer>
      <key>public.kern2.punctMid</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-27</integer>
      <key>public.kern2.v</key>
      <integer>-17</integer>
      <key>public.kern2.w</key>
      <integer>-17</integer>
      <key>public.kern2.x</key>
      <integer>-25</integer>
      <key>public.kern2.z</key>
      <integer>-27</integer>
      <key>question</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.punctHigh</key>
      <integer>5</integer>
      <key>public.kern2.punctLow</key>
      <integer>10</integer>
      <key>public.kern2.punctMid</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-2</integer>
      <key>public.kern2.f</key>
      <integer>-2</integer>
      <key>public.kern2.punctHigh</key>
      <integer>-10</integer>
      <key>public.kern2.punctLow</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>6</integer>
      <key>public.kern2.t</key>
      <integer>-2</integer>
      <key>public.kern2.v</key>
      <integer>-7</integer>
      <key>public.kern2.w</key>
      <integer>-7</integer>
      <key>public.kern2.x</key>
      <integer>-15</integer>
      <key>public.kern2.z</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.colon</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>braceright</key>
      <integer>26</integer>
      <key>bracketright</key>
      <integer>50</integer>
      <key>parenright</key>
      <integer>50</integer>
      <key>public.kern2.a</key>
      <integer>-18</integer>
      <key>public.kern2.o</key>
      <integer>-12</integer>
      <key>public.kern2.punctHigh</key>
      <integer>20</integer>
      <key>public.kern2.punctLow</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.t</key>
      <integer>2</integer>
      <key>public.kern2.u</key>
      <integer>-8</integer>
      <key>public.kern2.v</key>
      <integer>-6</integer>
      <key>public.kern2.w</key>
      <integer>-6</integer>
      <key>public.kern2.x</key>
      <integer>-6</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>26</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.punctHigh</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-2</integer>
      <key>public.kern2.f</key>
      <integer>-2</integer>
      <key>public.kern2.punctHigh</key>
      <integer>-10</integer>
      <key>public.kern2.punctLow</key>
      <integer>-10</integer>
      <key>public.kern2.punctMid</key>
      <integer>5</integer>
      <key>public.kern2.s</key>
      <integer>-2</integer>
      <key>public.kern2.t</key>
      <integer>-2</integer>
      <key>public.kern2.v</key>
      <integer>-8</integer>
      <key>public.kern2.w</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <integer>-15</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.punctHigh</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-31</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.V</key>
      <integer>20</integer>
      <key>public.kern2.W</key>
      <integer>15</integer>
      <key>public.kern2.X</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>20</integer>
      <key>public.kern2.Z</key>
      <integer>5</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>15</integer>
      <key>public.kern2.w</key>
      <integer>15</integer>
      <key>public.kern2.x</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.punctLow</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>10</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>-5</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-15</integer>
      <key>public.kern2.X</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.Z</key>
      <integer>10</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.punctMid</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>10</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-5</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-5</integer>
      <key>public.kern2.o</key>
      <integer>5</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <integer>-40</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>11</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-11</integer>
      <key>public.kern2.f</key>
      <integer>2</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.punctHigh</key>
      <integer>20</integer>
      <key>public.kern2.punctLow</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-1</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-3</integer>
      <key>public.kern2.w</key>
      <integer>-3</integer>
      <key>public.kern2.x</key>
      <integer>-6</integer>
      <key>public.kern2.z</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.t</key>
      <integer>-2</integer>
      <key>public.kern2.u</key>
      <integer>-2</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-15</integer>
      <key>public.kern2.z</key>
      <integer>-3</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-3</integer>
      <key>public.kern2.f</key>
      <integer>-6</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.punctMid</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-8</integer>
      <key>public.kern2.w</key>
      <integer>-8</integer>
      <key>public.kern2.x</key>
      <integer>-8</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>-6</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.punctHigh</key>
      <integer>15</integer>
      <key>public.kern2.punctLow</key>
      <integer>-20</integer>
      <key>public.kern2.punctMid</key>
      <integer>-5</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-3</integer>
      <key>public.kern2.u</key>
      <integer>-6</integer>
      <key>public.kern2.v</key>
      <integer>-6</integer>
      <key>public.kern2.w</key>
      <integer>-6</integer>
      <key>public.kern2.x</key>
      <integer>-6</integer>
      <key>public.kern2.z</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>-6</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.punctHigh</key>
      <integer>15</integer>
      <key>public.kern2.punctLow</key>
      <integer>-15</integer>
      <key>public.kern2.s</key>
      <integer>-7</integer>
      <key>public.kern2.t</key>
      <integer>-3</integer>
      <key>public.kern2.u</key>
      <integer>-6</integer>
      <key>public.kern2.v</key>
      <integer>-6</integer>
      <key>public.kern2.w</key>
      <integer>-6</integer>
      <key>public.kern2.x</key>
      <integer>-6</integer>
      <key>public.kern2.z</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-13</integer>
      <key>public.kern2.f</key>
      <integer>-6</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.punctHigh</key>
      <integer>10</integer>
      <key>public.kern2.punctMid</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-15</integer>
      <key>public.kern2.t</key>
      <integer>-3</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-6</integer>
      <key>public.kern2.w</key>
      <integer>-6</integer>
      <key>public.kern2.z</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-6</integer>
      <key>public.kern2.f</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.punctMid</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-3</integer>
      <key>public.kern2.t</key>
      <integer>-8</integer>
      <key>public.kern2.u</key>
      <integer>-6</integer>
      <key>public.kern2.v</key>
      <integer>-8</integer>
      <key>public.kern2.w</key>
      <integer>-8</integer>
      <key>public.kern2.x</key>
      <integer>-6</integer>
      <key>public.kern2.z</key>
      <integer>-6</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <integer>-10</integer>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-30</integer>
      <key>nine</key>
      <integer>-10</integer>
      <key>six</key>
      <integer>-10</integer>
      <key>three</key>
      <integer>-5</integer>
      <key>two</key>
      <integer>-10</integer>
      <key>zero</key>
      <integer>-10</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>seven</key>
      <integer>-10</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>nine</key>
      <integer>-10</integer>
      <key>seven</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
